<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009220353762-ooasd8bsihs0prpo6v2jd0tc2dmusdqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009220353762-ooasd8bsihs0prpo6v2jd0tc2dmusdqd</string>
	<key>API_KEY</key>
	<string>AIzaSyDtr_jXNKzOxp_c1RDqjNFg8hlZ38IlhYc</string>
	<key>GCM_SENDER_ID</key>
	<string>1009220353762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.GFMBusiness</string>
	<key>PROJECT_ID</key>
	<string>gfmbusiness-1c43d</string>
	<key>STORAGE_BUCKET</key>
	<string>gfmbusiness-1c43d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009220353762:ios:eeaac2f465bc8f8a9628bb</string>
</dict>
</plist>